<hello name="{{ name }}"></hello>
<p>hakuna matata</p>

<img
  src="https://i.pinimg.com/custom_covers/222x/734790564142559148_1588646204.jpg"
/>

<div class="header">
  <p>Test List <small></small></p>
</div>
<div class="body">
  <h2></h2>
  <p></p>

  <form>
    <table>
      <tr>
        <td>
          <input
            type="text"
            name="hoten"
            class="textbox"
            placeholder="Thêm thông tin"
          />
        </td>
        <td><input type="button" value="UPDATE" /></td>
      </tr>

      <tr>
        <td></td>
        <td><input type="button" value="Cancel" /></td>
      </tr>
    </table>
    <ul style="list-style-type:none">
      <li>
        Tôi làm việc ở 54A NCT
        <input type="button" value="o" />
        <input type="button" value="x" />
      </li>
      <br />
      <li>
        Tôi đi làm từ 8h30
        <input type="button" value="o" /><i class="far fa-edit"></i>
        <input type="button" value="x" />
      </li>
      <br />
      <li>
        tôi tan làm lúc 18h
        <input type="button" value="o" />
        <input type="button" value="x" />
      </li>
      <br />
    </ul>
  </form>
</div>
