

<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div class="header">
<p>Test List App <small>v1.0</small></p>
</div>
<div class="body">
  <h2></h2>
  <p ></p>




  <form>
    <table>
      <tr>
        <td><input type="text" name="hoten" class="textbox" placeholder="Leave For Off 8:20 AM"></td>
        <td ><input type="button" value="UPDATE"></td>
      </tr>

      <tr>
        <td></td>
        <td><input type="button" value="Cancel"></td>
      </tr>
</table>
<ul style="list-style-type:none">
    <li>
      Tôi làm việc ở 54A NCT
      <input type="button" value="v">
      <input type="button" value="x">
    </li>
 <br>
    <li>
      Tôi đi làm từ 7h30
       <input  type="button" value="v"><i class="far fa-edit"></i>
       <input type="button" value="x">
    </li>
 <br>
    <li>
      tôi tan làm lúc 18h
      <input type="button" value="v">
      <input type="button" value="x">
   </li>
   <br>
   <li>
      Cancel button to clear inputted value.
      <input type="button" value="v">
      <input type="button" value="x">
   </li>
   <br>
   <li>
      Click :wastebasket: to delete task in the list
      <input type="button" value="v">
      <input type="button" value="x">
   </li>
</ul>

</form>


  
  

</div>